[submodule "yearly-calendar"]
	path = yearly-calendar
	url = git@home-git:tobyo/yearly-calendar.git
[submodule "calendar-reader"]
	path = calendar-reader
	url = git@home-git:tobyo/calendar-reader.git
