[submodule "yearly-calendar"]
	path = yearly-calendar
	url = https://github.com/tobyo/yearly-calendar.git
[submodule "calendar-reader"]
	path = calendar-reader
	url = https://github.com/tobyo/calendar-reader.git
